*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.wrapper{
  background-color: #e3cdf2;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
 
  
}
.container{
  width:100%;
  max-width:800px;
  height:400px;
 border-radius: 4px;
  display:flex;
  background-color: #fff;
  justify-content: center;
  flex-wrap: wrap;
}
.space{
  padding:40px;
}
.parent{
  display:flex;
  flex-direction: row;
  column-gap: 120px;
  justify-content: center;

 margin-top: 20px;
}
h1{
  padding-top:20px;
}
.vertical-tabs{
padding-left: 20px;
}
.vertical-tabs ul{
  list-style: none;

}
li a{
  text-decoration: none;
  color:#111;
}
ul{
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}
li{
  display:flex;
  justify-content: space-around;
   height:40px; 
   width:110px;
align-items: center;

}
.special{
  background-color: #8338ec;
color:#fff;
  border-radius: 10px;

}

.nj{
  color:#fff;
}

a{
  padding: 10px;
}


.content{
  padding-top: 10px;
}
.show{
  display:flex;
  flex-direction: column;
}
.hide{
  display: none;
}
@media only screen and (max-width: 600px) {
  .container{
    width:100%;
    max-width:400px;
    height:600px;
    justify-content: center;
   

  }
  .space{
    padding:10px;
  }
  .parent{
  
    flex-direction: column;
   
    justify-content: center;
  
   
  }
  h1{
    padding-top:20px;
  }
  .vertical-tabs{
  padding-left: 0px;
  }
  
  ul{
    display:flex;
    flex-direction: row;
    row-gap: 10px;
  }
  li{
    display:flex;
    justify-content:space-evenly;
     height:40px; 
     width:80px;
  align-items: center;
  
  }
  li svg{
    width:20px;
    height:20px;
  }

a{
    padding: 10px;
  }
li:nth-last-child(-n+2){
    display: none;
  }
 .Home ,.Blog ,.Help,.Code,.About{
  width:300px;
 }
}